* {
  padding: 0;
  margin: 0;
}

body {
  background: url(images/flower-bg.png) no-repeat right top;
  background-size: cover;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5vw;
}

/*HEADER*/
.wrapper {
  width: 60%;
  margin: 0 auto;
  background: #b01f1f61;
  border: 1px solid #e24ba8;
}

header {
  margin-top: 5%;
}

header .logo {
  padding: 20px;
  float: left;
}

header nav {
  float: right;
  margin: 40px 40px 0 0;
}

header li {
  display: inline-block;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: #8d002a;
  padding: 10px;
  display: block;
  background: #ffb0e1;
  border-radius: 10px;
}

header a:hover {
  background: #8d002a;
  color: #ffb0e1;
  transition: 0.5s all;
}

.clear {
  clear: both;
}
/*/HEADER*/

/*MAIN*/
main .wrapper {
  margin-top: 5px;
  padding-top: 50px;
}

summary {
  float: left;
  width: 20%;
  box-sizing: border-box;
  
}

summary a {
  text-decoration: none;
  display: block;
  padding: 5px 0 0 40px; 
  color: #ffb0e1;
}

summary a:hover {
  color: #8d002a;
}

article {
  width: 50%;
  float: left;
  text-align: justify;
  padding-right: 40px;
  box-sizing: border-box;
  color: #ffb0e1;
}

article .button {
  color: #8d002a;
  padding: 5px 10px;
  border-radius: 5px;
  background: #ffb0e1;
  border: none;
}

article .button:hover {
  background: #8d002a;
  color: #ffb0e1;
}

article form {
  color: #8d002a;
  margin: 30px 0;
}

article input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #8d002a;
  padding: 10px;
}

aside {
  float: left;
  box-sizing: border-box;
}

/*/MAIN*/